In [5]:
import numpy as np
from keras.datasets import mnist
from keras.utils import np_utils
np.random.seed(1671) # for reproducibility

X_test = X_test.reshape(10000, RESHAPED)
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
# normalize
X_train /= 255
X_test /= 255


# convert class vectors to binary class matrices..
#Y_train = np_utils.to_categorical(y_train, NB_CLASSES)
#Y_test = np_utils.to_categorical(y_test, NB_CLASSES)
X_train

In [11]:
# data: shuffled and split between train and test sets
(X_train, y_train), (X_test, y_test) = mnist.load_data()
#X_train is 60000 rows of 28x28 values --> reshaped in 60000 x 784


X_train

array([[[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       ...,
       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]], dtype=uint8)

In [95]:
print(Y_test)

NameError: name 'Y_test' is not defined

In [4]:
import numpy as np
import pandas as pd
csv_data = pd.read_csv('liveData200.csv')
#dataset = np.loadtxt("liveData100.csv", delimiter=",")
# split into input (X) and output (Y) variables
#x_train=dataset[:,0:5]
#print(x_train)
#y_train = dataset[:,8]
csv_data.head()

,1,2,X,HT1,HT2,HTX,FS (0:0),FS(0:0)2,FS(0:0)X,TEAMS,...,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,TEST
0,2.40,2.65,3.90,2.85,3.10,2.45,1.90,1.90,23.00,VFL OSLO VFL MADRID,...,0.0,0.00,0.00,1.60,2.20,2.65,1.40,4.3,1.18,0
1,1.45,6.75,4.55,1.80,6.00,2.80,1.40,3.20,17.00,VFL BERLIN VFL STOCKHOLM,...,0.0,1.18,4.25,1.65,2.15,2.50,1.45,0.0,0.00,0
2,2.05,3.90,3.25,2.60,4.60,2.10,1.75,2.95,6.00,VFL COPENHAGEN VFL VIENNA,...,6.0,1.75,1.95,3.05,1.35,0.00,0.00,0.0,0.00,1
3,5.25,1.70,3.75,5.00,2.05,2.55,3.55,1.40,10.25,VFL BERN VFL LISBON,...,0.0,1.35,2.95,2.20,1.60,4.05,1.20,0.0,0.00,1
4,3.55,1.90,4.25,4.40,2.15,2.55,2.60,1.55,21.00,VFL EDINBURGH VFL ROME,...,0.0,1.18,4.25,1.60,2.20,2.55,1.45,0.0,0.00,1

In [2]:
pd.unique(csv_data.TEAMS)
#TM= [tm.strip() for tm in csv_data['TEAMS']]

array(['VFL OSLO  VFL MADRID', 'VFL BERLIN  VFL STOCKHOLM',
       'VFL COPENHAGEN  VFL VIENNA', 'VFL BERN  VFL LISBON',
       'VFL EDINBURGH  VFL ROME', 'VFL ATHENS  VFL AMSTERDAM',
       'VFL LONDON  VFL BRUSSELS', 'VFL PARIS  VFL ANKARA',
       'VFL BERN  VFL STOCKHOLM', 'VFL OSLO  VFL ATHENS',
       'VFL ROME  VFL LONDON', 'VFL PARIS  VFL BERLIN',
       'VFL LISBON  VFL AMSTERDAM', 'VFL BRUSSELS  VFL VIENNA',
       'VFL EDINBURGH  VFL COPENHAGEN', 'VFL ANKARA  VFL MADRID'], dtype=object)

In [98]:
#cat=csv_data['TEAMS'].astype('category')
#p=cat.values
#p.categories
#p.codes
cats=['VFL OSLO  VFL MADRID', 'VFL BERLIN  VFL STOCKHOLM',
       'VFL COPENHAGEN  VFL VIENNA', 'VFL BERN  VFL LISBON',
       'VFL EDINBURGH  VFL ROME', 'VFL ATHENS  VFL AMSTERDAM',
       'VFL LONDON  VFL BRUSSELS', 'VFL PARIS  VFL ANKARA',
       'VFL BERN  VFL STOCKHOLM', 'VFL OSLO  VFL ATHENS',
       'VFL ROME  VFL LONDON', 'VFL PARIS  VFL BERLIN',
       'VFL LISBON  VFL AMSTERDAM', 'VFL BRUSSELS  VFL VIENNA',
       'VFL EDINBURGH  VFL COPENHAGEN', 'VFL ANKARA  VFL MADRID']
catsRev=[]
for tm in csv_data['TEAMS']:
    if tm == cats[0]:
        catsRev.append(1)
    elif tm == cats[1]:
        catsRev.append(2)
    elif tm == cats[2]:
        catsRev.append(3)
    elif tm == cats[3]:
        catsRev.append(4)
    elif tm == cats[4]:
        catsRev.append(5)
    elif tm == cats[5]:
        catsRev.append(6)
    elif tm == cats[6]:
        catsRev.append(7)
    elif tm == cats[7]:
        catsRev.append(8)
    elif tm == cats[8]:
        catsRev.append(9)
    elif tm == cats[9]:
        catsRev.append(10)
    elif tm == cats[10]:
        catsRev.append(11)
    elif tm == cats[11]:
        catsRev.append(12)
    elif tm == cats[12]:
        catsRev.append(13)
    elif tm == cats[13]:
        catsRev.append(14)
    elif tm == cats[14]:
        catsRev.append(15)
    elif tm == cats[15]:
        catsRev.append(16)

catsRev 
csv_data['TEAMS']=catsRev

In [78]:
#csv_data['fruit'] =csv_data['TEAMS'].astype('category')
#csv_data['TEAMS'].astype('category')
#pd.get_dummies(csv_data['TEAMS'])

In [5]:
csv_data.head()

,1,2,X,HT1,HT2,HTX,FS (0:0),FS(0:0)2,FS(0:0)X,TEAMS,...,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,TEST
0,2.40,2.65,3.90,2.85,3.10,2.45,1.90,1.90,23.00,VFL OSLO VFL MADRID,...,0.0,0.00,0.00,1.60,2.20,2.65,1.40,4.3,1.18,0
1,1.45,6.75,4.55,1.80,6.00,2.80,1.40,3.20,17.00,VFL BERLIN VFL STOCKHOLM,...,0.0,1.18,4.25,1.65,2.15,2.50,1.45,0.0,0.00,0
2,2.05,3.90,3.25,2.60,4.60,2.10,1.75,2.95,6.00,VFL COPENHAGEN VFL VIENNA,...,6.0,1.75,1.95,3.05,1.35,0.00,0.00,0.0,0.00,1
3,5.25,1.70,3.75,5.00,2.05,2.55,3.55,1.40,10.25,VFL BERN VFL LISBON,...,0.0,1.35,2.95,2.20,1.60,4.05,1.20,0.0,0.00,1
4,3.55,1.90,4.25,4.40,2.15,2.55,2.60,1.55,21.00,VFL EDINBURGH VFL ROME,...,0.0,1.18,4.25,1.60,2.20,2.55,1.45,0.0,0.00,1

In [74]:
#csv_data['TEAMS'].values

In [91]:
print(csv_data.values)

[[2.4 2.65 3.9 ..., 1.18 0 'VFL OSLO  VFL MADRID']
 [1.45 6.75 4.55 ..., 0.0 0 'VFL BERLIN  VFL STOCKHOLM']
 [2.05 3.9 3.25 ..., 0.0 1 'VFL COPENHAGEN  VFL VIENNA']
 ...,
 [1.75 6.0 3.25 ..., 0.0 0 'VFL BRUSSELS  VFL VIENNA']
 [2.35 3.1 3.3 ..., 0.0 1 'VFL EDINBURGH  VFL COPENHAGEN']
 [5.25 1.6 4.25 ..., 0.0 1 'VFL ANKARA  VFL MADRID']]