In [173]:
import numpy as np
import pandas as pd

In [174]:
df= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ANALIZ/liveDataN.csv')
dfR= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ANALIZ/resultDataRR.csv')

In [175]:
def teamCoded(S):
    
    cats=['MADRID', 'AMSTERDAM','BERLIN','LONDON','ROME','OSLO','LISBON','PARIS','BRUSSELS','ATHENS','STOCKHOLM',
          'COPENHAGEN','VIENNA', 'ANKARA','EDINBURGH','BERN']

    catsRev=[]
    for tm in S:
        if tm == cats[0]:
            catsRev.append(1)
        elif tm == cats[1]:
            catsRev.append(2)
        elif tm == cats[2]:
            catsRev.append(3)
        elif tm == cats[3]:
            catsRev.append(4)
        elif tm == cats[4]:
            catsRev.append(5)
        elif tm == cats[5]:
            catsRev.append(6)
        elif tm == cats[6]:
            catsRev.append(7)
        elif tm == cats[7]:
            catsRev.append(8)
        elif tm == cats[8]:
            catsRev.append(9)
        elif tm == cats[9]:
            catsRev.append(10)
        elif tm == cats[10]:
            catsRev.append(11)
        elif tm == cats[11]:
            catsRev.append(12)
        elif tm == cats[12]:
            catsRev.append(13)
        elif tm == cats[13]:
            catsRev.append(14)
        elif tm == cats[14]:
            catsRev.append(15)
        elif tm == cats[15]:
            catsRev.append(16)
    return catsRev

In [176]:
df['TEAMSd'].head()

#split TEAMS into HOME & AWAY 
df['HOME']=pd.Series([x.split()[1] for x in df.TEAMSd])
df['AWAY']=pd.Series([x.split()[3] for x in df.TEAMSd])
df['TIMEdd']=pd.Series([x.split()[1] for x in df.TIMED])
df['TIMEst']=pd.Series([x.split()[0].replace('-','/') for x in df.timestamp])
df['TIMEfc']=pd.Series([p[3:][5:8]+'/'+p[2:][3:5]+'/'+p[2:][:2] for p in df.TIMEst])
df['TIMER']=df['TIMEfc']  + ' ' + df['TIMEdd']
#Use teamCode FX to code HOME & AWAY collumns and crean new HOMECODE & AWAYCODE
df['HOMECODE']=teamCoded(df['HOME'])
df['AWAYCODE']=teamCoded(df['AWAY'])
df['TC']=df['HOME']+ df['AWAY'] 
colum=['HOMECODE', 'AWAYCODE','TC','TIMER',
'1', '2', 'X', 'HT1', 'HT2', 'HTX', 'FS (0:0)', 'FS(0:0)2', 'FS(0:0)X',
        'G(0.5)O', 'G(0.5)U', 'G(1.5)O', 'G(1.5)U', 'G(2.5)O',
       'G(2.5)U', 'G(3.5)O', 'G(3.5)U', 'G(4.5)O', 'G(4.5)U']
data=df.reindex(columns=colum).fillna(0)#.values
# split into input (X) and output (Y) variables


dfR['TEAMSr']
dfR['TEAMSp']=pd.Series([x.upper() for x in dfR.TEAMSr])
dfR['TEAMSr']=pd.Series([x.upper() for x in dfR.TEAMSr])

#split TEAMS into HOME & AWAY 
dfR['HOME']=pd.Series([x.split()[1] for x in dfR.TEAMSr])
dfR['AWAY']=pd.Series([x.split()[4] for x in dfR.TEAMSr])
dfR['TIMEr']=pd.Series([x.split()[1] for x in dfR.TIMER])
#dfR['TIMEp']=pd.Series([datetime.datetime(y,m,d,h,mi,s,f).strftime('%a %H:%M') for y,m,d,h,mi,s,f in dfR.TIMER])
#Use teamCode FX to code HOME & AWAY collumns and crean new HOMECODE & AWAYCODE
dfR['TC']=dfR['HOME']+ dfR['AWAY']

dfR['HOMECODE']=teamCoded(dfR['HOME'])
dfR['AWAYCODE']=teamCoded(dfR['AWAY'])
#teamCode(dfR['HOME'])

colum=['HOMECODE', 'AWAYCODE','TC' ,'HTR', 'FTR', 'TIMER','TIMEr','TIMEp']
resu = dfR.reindex(columns=colum).fillna(0)#.values
# split into input (X) and output (Y) variable

In [177]:
data

,HOMECODE,AWAYCODE,TC,TIMER,1,2,X,HT1,HT2,HTX,...,G(0.5)O,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U
0,4,12,LONDONCOPENHAGEN,21/07/18 02:03,1.40,9.50,4.20,1.70,8.00,2.70,...,0.0,0.00,1.30,3.30,2.05,1.70,3.70,1.25,0.00,0.00
1,10,7,ATHENSLISBON,21/07/18 02:03,3.30,2.10,3.65,3.55,3.05,2.15,...,0.0,0.00,1.45,2.55,2.30,1.55,4.75,1.15,0.00,0.00
2,5,2,ROMEAMSTERDAM,21/07/18 02:03,2.45,2.55,4.05,2.75,3.30,2.40,...,0.0,0.00,1.22,3.85,1.70,2.05,2.80,1.40,0.00,0.00
3,3,16,BERLINBERN,21/07/18 02:03,1.35,9.75,4.85,1.65,8.75,2.75,...,0.0,0.00,1.25,3.50,1.85,1.85,3.30,1.30,0.00,0.00
4,15,13,EDINBURGHVIENNA,21/07/18 02:03,2.10,3.35,3.60,2.65,4.20,2.15,...,0.0,0.00,1.45,2.50,2.35,1.55,4.50,1.16,0.00,0.00
5,6,11,OSLOSTOCKHOLM,21/07/18 02:03,1.60,5.25,4.35,2.00,4.85,2.65,...,0.0,0.00,0.00,0.00,1.60,2.20,2.50,1.45,4.35,1.18
6,1,9,MADRIDBRUSSELS,21/07/18 02:03,1.45,6.00,5.00,1.85,6.75,2.60,...,0.0,0.00,1.20,4.15,1.70,2.05,2.95,1.35,0.00,0.00
7,8,14,PARISANKARA,21/07/18 02:03,1.60,4.15,5.25,2.00,4.65,2.70,...,0.0,0.00,1.20,4.00,1.60,2.20,3.05,1.35,0.00,0.00
8,11,1,STOCKHOLMMADRID,21/07/18 02:08,3.90,1.75,4.60,3.40,2.10,3.20,...,0.0,0.00,0.00,0.00,1.45,2.55,2.10,1.65,3.45,1.25
9,2,4,AMSTERDAMLONDON,21/07/18 02:08,2.10,3.05,4.10,2.55,3.45,2.50,...,0.0,0.00,1.25,3.65,1.75,1.95,2.95,1.35,0.00,0.00
10,14,5,ANKARAROME,21/07/18 02:08,3.40,2.00,3.95,3.25,2.65,2.50,...,0.0,0.00,1.22,3.70,1.85,1.90,3.25,1.30,0.00,0.00
11,12,10,COPENHAGENATHENS,21/07/18 02:08,3.50,2.50,2.75,4.05,3.00,2.00,...,0.0,5.75,1.65,2.05,0.00,1.30,0.00,0.00,0.00,0.00
12,13,8,VIENNAPARIS,21/07/18 02:08,3.25,2.15,3.65,3.55,2.80,2.30,...,0.0,0.00,1.35,2.90,2.10,1.65,4.10,1.20,0.00,0.00
13,7,3,LISBONBERLIN,21/07/18 02:08,2.45,2.50,4.10,2.95,3.05,2.40,...,0.0,0.00,1.40,2.75,2.30,1.55,3.90,1.22,0.00,0.00
14,16,6,BERNOSLO,21/07/18 02:08,4.85,1.80,3.55,4.75,2.20,2.40,...,0.0,0.00,1.30,3.20,2.00,1.70,3.45,1.25,0.00,0.00
15,9,15,BRUSSELSEDINBURGH,21/07/18 02:08,1.70,5.75,3.50,2.15,6.75,2.15,...,0.0,0.00,1.45,2.50,2.50,1.45,4.95,1.14,0.00,0.00
16,15,5,EDINBURGHROME,21/07/18 02:17,3.90,1.85,4.00,4.70,2.10,2.60,...,0.0,0.00,1.16,4.60,1.60,2.25,2.50,1.45,0.00,0.00
17,16,11,BERNSTOCKHOLM,21/07/18 02:17,2.85,2.20,4.05,3.40,2.55,2.55,...,0.0,0.00,1.25,3.60,1.80,1.90,2.95,1.35,0.00,0.00
18,7,1,LISBONMADRID,21/07/18 02:17,2.50,2.60,3.80,2.90,3.10,2.40,...,0.0,0.00,1.25,3.60,1.85,1.85,3.15,1.30,0.00,0.00
19,9,8,BRUSSELSPARIS,21/07/18 02:17,2.30,2.85,3.80,2.70,3.80,2.25,...,0.0,0.00,1.40,2.65,2.25,1.60,4.25,1.18,0.00,0.00
20,13,4,VIENNALONDON,21/07/18 02:17,5.50,1.55,4.40,4.85,1.85,3.00,...,0.0,0.00,1.25,3.60,1.90,1.80,3.35,1.30,0.00,0.00
21,12,6,COPENHAGENOSLO,21/07/18 02:17,4.25,1.85,3.60,4.60,2.50,2.15,...,0.0,0.00,1.50,2.45,2.60,1.45,5.25,1.12,0.00,0.00
22,2,3,AMSTERDAMBERLIN,21/07/18 02:17,2.05,3.50,3.65,2.40,3.85,2.50,...,0.0,0.00,1.25,3.45,1.80,1.90,2.95,1.35,0.00,0.00
23,14,10,ANKARAATHENS,21/07/18 03:33,2.55,2.70,3.45,3.00,3.40,2.20,...,0.0,0.00,1.35,2.60,2.30,1.55,4.30,1.18,0.00,0.00
24,2,3,AMSTERDAMBERLIN,21/07/18 02:17,2.05,3.50,3.65,2.40,3.85,2.50,...,0.0,0.00,1.25,3.45,1.80,1.90,2.95,1.35,0.00,0.00
25,14,10,ANKARAATHENS,21/07/18 02:17,2.55,1.70,3.35,3.00,2.40,1.20,...,0.0,0.00,1.45,2.60,2.30,1.55,4.30,1.18,0.00,0.00

In [178]:
resu

,HOMECODE,AWAYCODE,TC,HTR,FTR,TIMER,TIMEr,TIMEp
0,4,12,LONDONCOPENHAGEN,0:0,0:1,21/07/18 02:03,02:03,0.0
1,10,7,ATHENSLISBON,2:0,3:2,21/07/18 03:24,03:24,0.0
2,13,6,VIENNAOSLO,0:1,0:3,21/07/18 03:24,03:24,0.0
3,2,14,AMSTERDAMANKARA,3:0,6:0,21/07/18 03:24,03:24,0.0
4,2,4,AMSTERDAMLONDON,1:2,1:3,21/07/18 03:24,03:24,0.0
5,11,1,STOCKHOLMMADRID,4:0,4:1,21/07/18 03:24,03:24,0.0
6,9,8,BRUSSELSPARIS,1:1,1:1,21/07/18 03:24,03:24,0.0
7,16,15,BERNEDINBURGH,0:0,1:0,21/07/18 03:24,03:24,0.0
8,3,9,BERLINBRUSSELS,1:0,2:0,21/07/18 03:29,03:29,0.0
9,13,8,VIENNAPARIS,0:0,0:2,21/07/18 02:08,02:08,0.0
10,4,11,LONDONSTOCKHOLM,2:0,5:1,21/07/18 03:29,03:29,0.0
11,12,6,COPENHAGENOSLO,2:2,4:2,21/07/18 03:29,03:29,0.0
12,6,7,OSLOLISBON,0:0,1:1,21/07/18 03:29,03:29,0.0
13,15,2,EDINBURGHAMSTERDAM,0:2,0:3,21/07/18 03:29,03:29,0.0
14,1,13,MADRIDVIENNA,2:1,3:1,21/07/18 03:29,03:29,0.0
15,2,3,AMSTERDAMBERLIN,0:3,3:3,21/07/18 03:33,03:33,0.0
16,14,10,ANKARAATHENS,1:0,3:0,21/07/18 03:33,03:33,0.0
17,2,3,AMSTERDAMBERLIN,0:3,3:3,21/07/18 03:33,03:33,0.0
18,14,10,ANKARAATHENS,1:2,0:5,21/07/18 02:17,02:17,0.0
19,14,10,ANKARAATHENS,1:2,0:5,21/07/18 02:18,02:18,0.0

In [179]:
#f=pd.merge(data,resu,on=('HOMECODE','AWAYCODE'),how='inner')
#f=pd.merge_ordered(data,resu,on=['HOME','AWAY','HOMECODE','AWAYCODE','TIMEr'])
f=pd.merge(resu,data)

f

,HOMECODE,AWAYCODE,TC,HTR,FTR,TIMER,TIMEr,TIMEp,1,2,...,G(0.5)O,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U
0,4,12,LONDONCOPENHAGEN,0:0,0:1,21/07/18 02:03,02:03,0.0,1.40,9.50,...,0.0,0.0,1.30,3.3,2.05,1.70,3.7,1.25,0.0,0.0
1,13,8,VIENNAPARIS,0:0,0:2,21/07/18 02:08,02:08,0.0,3.25,2.15,...,0.0,0.0,1.35,2.9,2.10,1.65,4.1,1.20,0.0,0.0
2,14,10,ANKARAATHENS,1:0,3:0,21/07/18 03:33,03:33,0.0,2.55,2.70,...,0.0,0.0,1.35,2.6,2.30,1.55,4.3,1.18,0.0,0.0
3,14,10,ANKARAATHENS,1:2,0:5,21/07/18 02:17,02:17,0.0,2.55,1.70,...,0.0,0.0,1.45,2.6,2.30,1.55,4.3,1.18,0.0,0.0

In [1]:
p='28/07/2018'

In [2]:
p[3:][5:8]

'18'

In [16]:
p[2:][0:4]

'/07/'

In [12]:
p[:][:2]

lst=['20:28','20:28','23:28','00:28']

'28'

In [45]:
p=str(float('20:28'.replace(':','.'))+12).replace('.',':')

In [46]:
p

'8:280000000000001'

In [32]:
p-1

19.28

In [48]:
'18/07/28 20:28'-'18/07/28 20:28'

TypeError: unsupported operand type(s) for -: 'str' and 'str'