In [1]:
import numpy as np
import pandas as pd

In [2]:
#df= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ANALIZ/liveDataG5.csv')
#dfR= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ANALIZ/resultDataG2.csv')

df= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ANALIZ/S_SERIES//liveDataS1.csv')
dfR= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ANALIZ/S_SERIES/resultDataS1.csv')

df.head()
#df.iloc[:, [0,1,2,9,21,]].head()

,1,2,X,HT1,HT2,HTX,FS (0:0),FS(0:0)2,FS(0:0)X,TEAMSd,...,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,timestamp
0,2.50,2.45,4.05,2.85,3.15,2.45,1.95,1.95,17.75,VFL OSLO VFL BERLIN,...,0.0,1.30,3.20,1.95,1.80,3.20,1.30,0.0,0.0,06/09/2018 Thu 22:31
1,1.65,5.25,4.10,1.85,5.75,2.70,1.40,3.05,19.00,VFL LISBON VFL STOCKHOLM,...,0.0,1.22,3.75,1.75,1.95,2.95,1.35,0.0,0.0,06/09/2018 Thu 22:31
2,2.35,3.20,3.20,2.90,3.70,2.15,1.95,2.10,10.00,VFL EDINBURGH VFL COPENHAGEN,...,0.0,1.40,2.65,2.75,1.40,5.25,1.12,0.0,0.0,06/09/2018 Thu 22:31
3,1.75,5.75,3.30,2.20,6.75,2.10,1.55,3.15,8.00,VFL BRUSSELS VFL BERN,...,0.0,1.45,2.60,2.50,1.50,4.35,1.18,0.0,0.0,06/09/2018 Thu 22:31
4,2.70,2.50,3.65,2.95,2.95,2.45,1.95,1.95,17.50,VFL ANKARA VFL PARIS,...,0.0,1.25,3.60,1.70,2.00,2.75,1.40,0.0,0.0,06/09/2018 Thu 22:31

In [3]:
def teamCoded(S):
    
    cats=['MADRID', 'AMSTERDAM','BERLIN','LONDON','ROME','OSLO','LISBON','PARIS','BRUSSELS','ATHENS','STOCKHOLM',
          'COPENHAGEN','VIENNA', 'ANKARA','EDINBURGH','BERN']

    catsRev=[]
    for tm in S:
        if tm == cats[0]:
            catsRev.append(1)
        elif tm == cats[1]:
            catsRev.append(2)
        elif tm == cats[2]:
            catsRev.append(3)
        elif tm == cats[3]:
            catsRev.append(4)
        elif tm == cats[4]:
            catsRev.append(5)
        elif tm == cats[5]:
            catsRev.append(6)
        elif tm == cats[6]:
            catsRev.append(7)
        elif tm == cats[7]:
            catsRev.append(8)
        elif tm == cats[8]:
            catsRev.append(9)
        elif tm == cats[9]:
            catsRev.append(10)
        elif tm == cats[10]:
            catsRev.append(11)
        elif tm == cats[11]:
            catsRev.append(12)
        elif tm == cats[12]:
            catsRev.append(13)
        elif tm == cats[13]:
            catsRev.append(14)
        elif tm == cats[14]:
            catsRev.append(15)
        elif tm == cats[15]:
            catsRev.append(16)
    return catsRev

#funxion to input(ps) DF column of form/content (3:2) eg HT result or HT results and out put ps.series with eithe 0,1 or 2
def results(ps):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        if float(h) > float(a):
            lp.append(1)

        elif float(a) > float(h):
            lp.append(2)
        else:
            lp.append(0)

    return pd.Series(lp)



def over_under(ps,n):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        if (float(h) + float(a)) > float(n):
            lp.append(1)

        else:
            #means it is under n eg under 2.5
            lp.append(0)

    return pd.Series(lp)

##addition collumn of all goals
def goalsum(ps):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        lp.append((float(h) + float(a)))

    return pd.Series(lp)

In [7]:
#split TEAMS into HOME & AWAY 
df['HOME']=pd.Series([x.split()[1] for x in df.TEAMSd])
df['AWAY']=pd.Series([x.split()[3] for x in df.TEAMSd])
df['TIMEdd']=pd.Series([x.split()[1] for x in df.TIMED])
df['TIMEst']=pd.Series([x.split()[0] for x in df.timestamp])
df['TIMEfc']=pd.Series([p[3:][5:8]+p[2:][:4]+p[:][:2] for p in df.TIMEst])
#df['TIMEddR']=pd.Series([x.split()[1] for x in df.TIMEDdd])

lx=[]
for x in df.TIMED:
    p=x.split()[1].replace(':','.')
    if float(p)> 1.00:
        q=('0'+str((round((float(p.replace(':','.'))-1),2))).replace('.',':')+'0')[:5]
    
    else:
        p=float(p)+24.00
        q=str((float(str(p).replace(':','.'))-1)).replace('.',':') 
    lx.append(q)
    
    
df['TIMEr']=pd.Series(lx)

df['TIMER']=df['TIMEfc']  + ' ' + df['TIMEdd']


#Use teamCode FX to code HOME & AWAY collumns and crean new HOMECODE & AWAYCODE
df['HOMECODE']=teamCoded(df['HOME'])
df['AWAYCODE']=teamCoded(df['AWAY'])
#df['TEAMSC']=df['HOMECODE'] + df['AWAYCODE']
df['TC']=df['HOME']+' '+df['AWAY']
colum=['TC','HOMECODE', 'AWAYCODE','TIMER','TIMED','TIMEr',
'1', '2', 'X', 'HT1', 'HT2', 'HTX', 'FS (0:0)', 'FS(0:0)2', 'FS(0:0)X',
        'G(0.5)O', 'G(0.5)U', 'G(1.5)O', 'G(1.5)U', 'G(2.5)O',
       'G(2.5)U', 'G(3.5)O', 'G(3.5)U', 'G(4.5)O', 'G(4.5)U']
data=df.reindex(columns=colum).fillna(0)
#======================================================================
dfR['TEAMSr']
dfR['TEAMSr']=pd.Series([x.upper() for x in dfR.TEAMSr])
dfR['TEAMSr']=pd.Series([x.upper() for x in dfR.TEAMSr])
#split TEAMS into HOME & AWAY 
dfR['HOME']=pd.Series([x.split()[1] for x in dfR.TEAMSr])
dfR['AWAY']=pd.Series([x.split()[4] for x in dfR.TEAMSr])
dfR['TIMEr']=pd.Series([x.split()[1] for x in dfR.TIMER])
#Use teamCode FX to code HOME & AWAY collumns and crean new HOMECODE & AWAYCODE
dfR['TC']=dfR['HOME']+' '+dfR['AWAY']

dfR['HOMECODE']=teamCoded(dfR['HOME'])
dfR['AWAYCODE']=teamCoded(dfR['AWAY'])
#dfR['TEAMSC']=dfR['HOMECODE'] + dfR['AWAYCODE']
#teamCode(dfR['HOME'])


    
dfR['FT_Goals']=pd.Series([str(x).replace(':','  ')[:] for x in dfR.FTR])
dfR['HT_Goals']=pd.Series([str(x).replace(':','  ')[:] for x in dfR.HTR])
dfR['FT_home_goals']=pd.Series([str(x).replace(':','  ')[:1] for x in dfR.FTR])
dfR['FT_away_goals']=pd.Series([str(x).replace(':','  ')[1:] for x in dfR.FTR])
dfR['HT_home_goals']=pd.Series([str(x).replace(':','  ')[:1] for x in dfR.HTR])
dfR['HT_away_goals']=pd.Series([str(x).replace(':','  ')[1:] for x in dfR.HTR])

#HT or FT 1 X or 2 as  1,2 and 0
dfR['FT_Results_1_0_2']=results(dfR['FT_Goals'])
dfR['HT_Results_1_0_2']=results(dfR['HT_Goals'])


# FT UNDER /OVER Goals
p = 3.5
n = 2.5
q = 1.5

dfR['Under_Over_3.5']= over_under(dfR['FT_Goals'],p)
dfR['Under_Over_2.5']= over_under(dfR['FT_Goals'],n)
dfR['Under_Over_1.5']= over_under(dfR['FT_Goals'],q)



dfR['Sum_Goals']= goalsum(dfR['FT_Goals'])# addition column of all goals

#dfR['HT_Results_1_0_2']=results(dfR['HT_Goals'])

colum=['TC','HOMECODE', 'AWAYCODE','TIMEr','HTR', 'FTR', 'HT_home_goals', 'HT_away_goals',
       'FT_home_goals','FT_away_goals','Sum_Goals','HT_Results_1_0_2','FT_Results_1_0_2','Under_Over_1.5','Under_Over_2.5',
       'Under_Over_3.5']
resu= dfR.reindex(columns=colum).fillna(0)#.values

#Dumies
##dummiesf = pd.get_dummies(datasF.FT_Results_1_0_2, prefix='FT_Results')
#dummiesh = pd.get_dummies(dfR.HT_Results_1_0_2, prefix='HT_Results')
##resu= datasF.drop('FT_Results_1_0_2', axis=1).join(dummiesf)
#dataF= dfR.drop('HT_Results_1_0_2', axis=1).join(dummiesh)
resu

,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,Sum_Goals,HT_Results_1_0_2,FT_Results_1_0_2,Under_Over_1.5,Under_Over_2.5,Under_Over_3.5
0,LONDON ANKARA,4,14,21:00,2:0,4:0,2,0,4,0,4.0,1,1,1,1,1
1,VIENNA OSLO,13,6,21:00,0:0,1:1,0,0,1,1,2.0,0,0,1,0,0
2,LISBON BRUSSELS,7,9,21:00,0:0,1:0,0,0,1,0,1.0,0,1,0,0,0
3,EDINBURGH AMSTERDAM,15,2,21:00,0:1,0:2,0,1,0,2,2.0,2,2,1,0,0
4,COPENHAGEN PARIS,12,8,21:00,0:0,0:4,0,0,0,4,4.0,0,2,1,1,1
5,STOCKHOLM ROME,11,5,21:00,1:0,1:2,1,0,1,2,3.0,1,2,1,1,0
6,BERN MADRID,16,1,21:00,0:2,0:3,0,2,0,3,3.0,2,2,1,1,0
7,ATHENS BERLIN,10,3,21:00,1:1,1:1,1,1,1,1,2.0,0,0,1,0,0
8,PARIS STOCKHOLM,8,11,21:05,0:1,1:2,0,1,1,2,3.0,2,2,1,1,0
9,ANKARA VIENNA,14,13,21:05,1:0,1:1,1,0,1,1,2.0,1,0,1,0,0
10,MADRID LISBON,1,7,21:05,1:1,2:2,1,1,2,2,4.0,0,0,1,1,1
11,ROME BERN,5,16,21:05,1:0,1:0,1,0,1,0,1.0,1,1,0,0,0
12,OSLO ATHENS,6,10,21:05,0:1,2:1,0,1,2,1,3.0,2,1,1,1,0
13,BRUSSELS EDINBURGH,9,15,21:05,2:0,2:0,2,0,2,0,2.0,1,1,1,0,0
14,BERLIN COPENHAGEN,3,12,21:05,1:1,2:1,1,1,2,1,3.0,0,1,1,1,0
15,AMSTERDAM LONDON,2,4,21:05,1:1,3:1,1,1,3,1,4.0,0,1,1,1,1
16,BERN PARIS,16,8,21:09,3:1,4:2,3,1,4,2,6.0,1,1,1,1,1
17,LONDON BRUSSELS,4,9,21:09,1:0,2:1,1,0,2,1,3.0,1,1,1,1,0
18,COPENHAGEN OSLO,12,6,21:09,0:0,1:0,0,0,1,0,1.0,0,1,0,0,0
19,VIENNA AMSTERDAM,13,2,21:09,0:0,0:0,0,0,0,0,0.0,0,0,0,0,0
20,EDINBURGH LISBON,15,7,21:09,0:0,1:0,0,0,1,0,1.0,0,1,0,0,0
21,ROME MADRID,5,1,21:09,0:0,1:0,0,0,1,0,1.0,0,1,0,0,0
22,STOCKHOLM BERLIN,11,3,21:09,0:1,1:3,0,1,1,3,4.0,2,2,1,1,1
23,ATHENS ANKARA,10,14,21:09,1:0,1:1,1,0,1,1,2.0,1,0,1,0,0
24,PARIS ROME,8,5,21:14,0:0,0:1,0,0,0,1,1.0,0,2,0,0,0
25,LISBON LONDON,7,4,21:14,2:1,3:1,2,1,3,1,4.0,1,1,1,1,1
26,BERLIN BERN,3,16,21:14,2:1,3:1,2,1,3,1,4.0,1,1,1,1,1
27,BRUSSELS VIENNA,9,13,21:14,0:0,0:0,0,0,0,0,0.0,0,0,0,0,0
28,OSLO STOCKHOLM,6,11,21:14,1:0,3:0,1,0,3,0,3.0,1,1,1,1,0
29,ANKARA COPENHAGEN,14,12,21:14,1:1,2:1,1,1,2,1,3.0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3570,ANKARA EDINBURGH,14,15,10:14,0:1,0:1,0,1,0,1,1.0,2,2,0,0,0
3571,PARIS BERLIN,8,3,10:14,0:1,0:1,0,1,0,1,1.0,2,2,0,0,0
3572,ROME COPENHAGEN,5,12,10:14,1:2,1:3,1,2,1,3,4.0,2,2,1,1,1
3573,LONDON AMSTERDAM,4,2,10:14,0:0,1:2,0,0,1,2,3.0,0,2,1,1,0
3574,MADRID LISBON,1,7,10:14,1:3,3:4,1,3,3,4,7.0,2,2,1,1,1
3575,STOCKHOLM ATHENS,11,10,10:14,0:1,0:3,0,1,0,3,3.0,2,2,1,1,0
3576,AMSTERDAM PARIS,2,8,10:19,1:0,1:0,1,0,1,0,1.0,1,1,0,0,0
3577,COPENHAGEN STOCKHOLM,12,11,10:19,0:0,0:0,0,0,0,0,0.0,0,0,0,0,0
3578,VIENNA MADRID,13,1,10:19,1:1,1:2,1,1,1,2,3.0,0,2,1,1,0
3579,ANKARA BERN,14,16,10:19,0:0,0:0,0,0,0,0,0.0,0,0,0,0,0
3580,BERLIN BRUSSELS,3,9,10:19,3:0,5:1,3,0,5,1,6.0,1,1,1,1,1
3581,LISBON ROME,7,5,10:19,1:0,2:1,1,0,2,1,3.0,1,1,1,1,0
3582,ATHENS LONDON,10,4,10:19,1:0,1:0,1,0,1,0,1.0,1,1,0,0,0
3583,EDINBURGH OSLO,15,6,10:19,0:0,0:2,0,0,0,2,2.0,0,2,1,0,0
3584,BRUSSELS AMSTERDAM,9,2,10:23,1:1,2:1,1,1,2,1,3.0,0,1,1,1,0
3585,LONDON COPENHAGEN,4,12,10:23,0:0,0:0,0,0,0,0,0.0,0,0,0,0,0
3586,MADRID ANKARA,1,14,10:23,0:0,3:0,0,0,3,0,3.0,0,1,1,1,0
3587,STOCKHOLM LISBON,11,7,10:23,0:1,0:3,0,1,0,3,3.0,2,2,1,1,0
3588,BERN EDINBURGH,16,15,10:23,1:0,2:1,1,0,2,1,3.0,1,1,1,1,0
3589,ROME VIENNA,5,13,10:23,3:0,6:0,3,0,6,0,6.0,1,1,1,1,1
3590,PARIS ATHENS,8,10,10:23,0:0,0:1,0,0,0,1,1.0,0,2,0,0,0
3591,OSLO BERLIN,6,3,10:23,0:0,0:1,0,0,0,1,1.0,0,2,0,0,0
3592,AMSTERDAM OSLO,2,6,10:28,1:0,2:0,1,0,2,0,2.0,1,1,1,0,0
3593,EDINBURGH BERLIN,15,3,10:28,1:1,2:2,1,1,2,2,4.0,0,0,1,1,1
3594,COPENHAGEN PARIS,12,8,10:28,1:0,1:1,1,0,1,1,2.0,1,0,1,0,0
3595,ANKARA ROME,14,5,10:28,1:3,1:5,1,3,1,5,6.0,2,2,1,1,1
3596,VIENNA STOCKHOLM,13,11,10:28,0:0,0:1,0,0,0,1,1.0,0,2,0,0,0
3597,ATHENS BRUSSELS,10,9,10:28,0:2,0:2,0,2,0,2,2.0,2,2,1,0,0
3598,BERN MADRID,16,1,10:28,1:1,1:1,1,1,1,1,2.0,0,0,1,0,0
3599,LISBON LONDON,7,4,10:28,0:0,1:0,0,0,1,0,1.0,0,1,0,0,0

In [ ]:
#save data_semi raw & resu for future manipulations//

###NOTE save on new dataset

'''
with open('/home/gsociety/Desktop/The Model/STORAGE/future/data.csv', 'a') as file:
    data.to_csv(file, index=False, header=False)

with open('/home/gsociety/Desktop/The Model/STORAGE/future/resu.csv', 'a') as file:
    resu.to_csv(file, index=False, header=False)
    
'''

In [ ]:
dff=pd.merge(resu,data,on=('TC','TIMEr','HOMECODE','AWAYCODE'))
#f[200:600]
#f.head()
f=dff.drop_duplicates()
f[200:203]
#print(f.head())

#from tempfile import NamedTemporaryFile
#from os.path import getsize

#df=pd.DataFrame(a)
#tmpf = NamedTemporaryFile()
#vflp=f.to_pickle(tmpf.name)
#print("Size pickled dataframe",getsize(tmpf.name))
#pd.read_pickle(tmpf.name)




#IMPORTANT/save proceessed data###########SAVE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1

with open('/home/gsociety/Desktop/The Model/STORAGE/ProcessedDATA6.csv', 'a') as file:
    f.to_csv(file, index=False, header=False)

In [14]:
import numpy as np
import pandas as pd   

#df1= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ProcessedDATAZ.csv')
df1= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ProcessedDATAfinal.csv')
df1.head()

,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,...,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,Under_Over_1.5,Under_Over_2.5,Under_Over_3.5
0,ATHENS COPENHAGEN,10,12,23:02,0:2,1:3,0,2,1,3,...,2.20,0.00,1.40,0.00,0.00,0.0,0.0,1,1,1
1,LISBON OSLO,7,6,23:02,2:0,2:0,2,0,2,0,...,2.65,2.40,1.50,4.45,1.18,0.0,0.0,0,0,1
2,PARIS AMSTERDAM,8,2,23:02,2:1,2:2,2,1,2,2,...,3.60,1.75,2.00,3.05,1.35,0.0,0.0,1,1,1
3,LONDON VIENNA,4,13,23:02,0:1,2:1,0,1,2,1,...,3.80,1.90,1.85,3.20,1.30,0.0,0.0,0,1,1
4,ANKARA EDINBURGH,14,15,23:02,2:0,2:1,2,0,2,1,...,2.90,2.00,1.70,3.55,1.25,0.0,0.0,0,1,1

In [15]:

df1= df1[df1['G(2.5)O'] > 1.65]

df1= df1[df1['G(2.5)U'] > 1.65]

f=df1.drop_duplicates()
f.head()
f

,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,...,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,Under_Over_1.5,Under_Over_2.5,Under_Over_3.5
2,PARIS AMSTERDAM,8,2,23:02,2:1,2:2,2,1,2,2,...,3.60,1.75,2.00,3.05,1.35,0.0,0.0,1,1,1
3,LONDON VIENNA,4,13,23:02,0:1,2:1,0,1,2,1,...,3.80,1.90,1.85,3.20,1.30,0.0,0.0,0,1,1
4,ANKARA EDINBURGH,14,15,23:02,2:0,2:1,2,0,2,1,...,2.90,2.00,1.70,3.55,1.25,0.0,0.0,0,1,1
6,BERN ROME,16,5,23:02,0:1,0:3,0,1,0,3,...,2.95,2.05,1.70,3.50,1.25,0.0,0.0,0,1,1
7,BRUSSELS STOCKHOLM,9,11,23:02,1:1,4:2,1,1,4,2,...,2.85,2.05,1.70,3.65,1.25,0.0,0.0,1,1,1
9,BERLIN ANKARA,3,14,23:07,0:1,2:1,0,1,2,1,...,3.80,1.70,2.05,2.95,1.35,0.0,0.0,0,1,1
16,ANKARA PARIS,14,8,23:11,2:2,2:3,2,2,2,3,...,3.60,1.75,2.00,2.75,1.40,0.0,0.0,1,1,1
17,LONDON BERLIN,4,3,23:11,0:0,2:0,0,0,2,0,...,3.85,1.70,2.05,2.70,1.40,0.0,0.0,0,0,1
18,BERN OSLO,16,6,23:11,1:0,1:2,1,0,1,2,...,3.15,2.00,1.70,3.45,1.25,0.0,0.0,0,1,1
19,ATHENS STOCKHOLM,10,11,23:11,3:0,5:1,3,0,5,1,...,3.60,1.75,1.95,2.85,1.40,0.0,0.0,1,1,1
21,LISBON EDINBURGH,7,15,23:11,0:0,2:1,0,0,2,1,...,3.45,1.90,1.80,3.35,1.30,0.0,0.0,0,1,1
29,AMSTERDAM ROME,2,5,23:16,2:0,2:0,2,0,2,0,...,4.10,1.70,2.05,2.65,1.40,0.0,0.0,0,0,1
30,OSLO ATHENS,6,10,23:16,1:0,1:0,1,0,1,0,...,3.20,1.95,1.80,3.55,1.25,0.0,0.0,0,0,0
32,LONDON BERLIN,4,3,01:45,1:0,2:0,1,0,2,0,...,3.85,1.70,2.05,2.75,1.40,0.0,0.0,0,0,1
35,AMSTERDAM OSLO,2,6,01:45,0:0,1:0,0,0,1,0,...,4.00,1.75,2.00,2.85,1.35,0.0,0.0,0,0,0
38,PARIS VIENNA,8,13,01:45,1:2,1:3,1,2,1,3,...,3.00,2.05,1.70,3.65,1.25,0.0,0.0,1,1,1
41,MADRID BRUSSELS,1,9,01:50,1:0,2:0,1,0,2,0,...,3.85,1.70,2.05,3.15,1.30,0.0,0.0,0,0,1
42,LISBON LONDON,7,4,01:50,1:1,2:1,1,1,2,1,...,3.10,2.05,1.70,3.60,1.25,0.0,0.0,0,1,1
44,BERLIN AMSTERDAM,3,2,01:50,1:1,1:1,1,1,1,1,...,3.05,1.95,1.75,3.60,1.25,0.0,0.0,0,0,1
48,PARIS BERLIN,8,3,01:54,0:0,0:0,0,0,0,0,...,3.50,1.80,1.90,3.05,1.35,0.0,0.0,0,0,0
49,ATHENS OSLO,10,6,01:54,1:1,2:1,1,1,2,1,...,3.30,2.05,1.70,3.50,1.25,0.0,0.0,0,1,1
51,AMSTERDAM LISBON,2,7,01:54,0:0,1:0,0,0,1,0,...,2.90,1.95,1.75,3.65,1.25,0.0,0.0,0,0,0
59,ROME BRUSSELS,5,9,01:59,0:1,1:1,0,1,1,1,...,3.15,2.05,1.70,3.65,1.25,0.0,0.0,0,0,1
61,BERLIN ATHENS,3,10,01:59,2:0,3:0,2,0,3,0,...,3.20,2.00,1.70,3.45,1.25,0.0,0.0,0,1,1
62,BERLIN ATHENS,3,10,01:59,2:0,3:0,2,0,3,0,...,3.25,2.00,1.70,3.35,1.30,0.0,0.0,0,1,1
63,BERLIN ATHENS,3,10,01:59,0:0,1:0,0,0,1,0,...,3.20,2.00,1.70,3.45,1.25,0.0,0.0,0,0,0
64,BERLIN ATHENS,3,10,01:59,0:0,1:0,0,0,1,0,...,3.25,2.00,1.70,3.35,1.30,0.0,0.0,0,0,0
65,LISBON PARIS,7,8,01:59,1:1,2:1,1,1,2,1,...,3.30,1.90,1.80,3.30,1.30,0.0,0.0,0,1,1
67,BERN LONDON,16,4,01:59,1:1,1:2,1,1,1,2,...,3.90,1.75,2.00,2.75,1.40,0.0,0.0,0,1,1
68,BERN LONDON,16,4,01:59,1:1,1:2,1,1,1,2,...,3.95,1.70,2.05,2.60,1.45,0.0,0.0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9219,LISBON PARIS,7,8,08:15,1:1,3:1,1,1,3,1,...,3.20,1.85,1.85,3.35,1.30,0.0,0.0,1,1,1
9220,BERN ROME,16,5,08:15,0:1,1:4,0,1,1,4,...,3.05,2.05,1.70,3.55,1.25,0.0,0.0,1,1,1
9221,ATHENS OSLO,10,6,08:15,2:1,3:2,2,1,3,2,...,3.40,2.05,1.70,3.65,1.25,0.0,0.0,1,1,1
9226,ANKARA PARIS,14,8,08:24,1:1,1:1,1,1,1,1,...,3.65,1.75,2.00,2.75,1.40,0.0,0.0,1,0,0
9227,BERN LONDON,16,4,08:24,1:0,1:1,1,0,1,1,...,3.95,1.70,2.05,2.60,1.45,0.0,0.0,1,0,0
9234,ANKARA OSLO,14,6,08:33,0:0,0:0,0,0,0,0,...,3.80,1.80,1.90,3.25,1.30,0.0,0.0,0,0,0
9244,BERN BERLIN,16,3,08:43,1:2,1:3,1,2,1,3,...,3.10,1.95,1.80,3.60,1.25,0.0,0.0,1,1,1
9245,ANKARA AMSTERDAM,14,2,08:43,1:0,1:0,1,0,1,0,...,3.20,2.00,1.75,3.60,1.25,0.0,0.0,0,0,0
9247,ROME BERLIN,5,3,08:52,0:0,0:0,0,0,0,0,...,3.70,1.75,2.00,2.75,1.40,0.0,0.0,0,0,0
9252,PARIS EDINBURGH,8,15,08:52,0:0,0:1,0,0,0,1,...,4.10,1.70,2.05,2.60,1.45,0.0,0.0,0,0,0
9257,LONDON BERLIN,4,3,09:01,0:1,1:1,0,1,1,1,...,3.65,1.70,2.05,2.80,1.40,0.0,0.0,1,0,0
9258,PARIS OSLO,8,6,09:01,0:1,2:1,0,1,2,1,...,3.50,1.70,2.05,2.80,1.40,0.0,0.0,1,1,0
9261,MADRID COPENHAGEN,1,12,09:01,2:1,2:1,2,1,2,1,...,4.05,1.70,2.05,2.75,1.40,0.0,0.0,1,1,0
9263,PARIS AMSTERDAM,8,2,09:10,0:1,0:2,0,1,0,2,...,3.95,1.70,2.00,3.05,1.35,0.0,0.0,1,0,0
9266,ROME LISBON,5,7,09:10,0:1,1:2,0,1,1,2,...,3.70,1.80,1.90,2.90,1.35,0.0,0.0,1,1,0
9269,LONDON ATHENS,4,10,09:10,2:0,3:0,2,0,3,0,...,3.65,1.75,1.95,2.85,1.35,0.0,0.0,1,1,0
9270,OSLO EDINBURGH,6,15,09:10,0:0,1:0,0,0,1,0,...,3.75,1.75,2.00,2.65,1.40,0.0,0.0,0,0,0
9271,ROME ANKARA,5,14,09:19,1:0,3:0,1,0,3,0,...,4.20,1.75,2.00,2.90,1.35,0.0,0.0,1,1,0
9275,OSLO AMSTERDAM,6,2,09:19,1:1,2:2,1,1,2,2,...,3.15,1.90,1.80,3.05,1.35,0.0,0.0,1,1,1
9277,LONDON LISBON,4,7,09:19,0:0,0:0,0,0,0,0,...,3.20,1.95,1.75,3.30,1.30,0.0,0.0,0,0,0
9278,STOCKHOLM VIENNA,11,13,09:19,0:2,1:3,0,2,1,3,...,3.55,1.95,1.80,3.25,1.30,0.0,0.0,1,1,1
9280,VIENNA PARIS,13,8,09:28,0:1,0:2,0,1,0,2,...,2.85,2.05,1.70,4.05,1.20,0.0,0.0,1,0,0
9283,BERN STOCKHOLM,16,11,09:28,0:1,0:2,0,1,0,2,...,3.50,1.80,1.90,3.00,1.35,0.0,0.0,1,0,0
9288,ATHENS EDINBURGH,10,15,09:38,0:1,1:3,0,1,1,3,...,3.55,1.90,1.80,3.65,1.25,0.0,0.0,1,1,1
9290,BERN PARIS,16,8,09:38,0:0,2:1,0,0,2,1,...,3.20,1.85,1.85,3.55,1.25,0.0,0.0,1,1,0
9298,BERN OSLO,16,6,09:47,2:0,4:1,2,0,4,1,...,3.10,2.00,1.75,3.40,1.30,0.0,0.0,1,1,1
9302,MADRID BRUSSELS,1,9,09:47,2:0,3:0,2,0,3,0,...,3.80,1.70,2.00,3.20,1.30,0.0,0.0,1,1,0
9303,LISBON EDINBURGH,7,15,09:56,1:0,2:0,1,0,2,0,...,3.50,1.85,1.85,3.20,1.30,0.0,0.0,1,0,0
9304,BERN AMSTERDAM,16,2,09:56,0:2,0:2,0,2,0,2,...,3.20,1.95,1.75,3.55,1.25,0.0,0.0,1,0,0
9306,ROME OSLO,5,6,09:56,0:0,0:0,0,0,0,0,...,4.10,1.70,2.05,2.60,1.45,0.0,0.0,0,0,0

In [30]:

'''a=f.values
model_cols1 = ['HOMECODE', 'AWAYCODE', '1', 'X', '2', 'HT1', 'HTX', 'HT2',
       'FS (0:0)', 'FS(0:0)X', 'FS(0:0)2', 'G(0.5)O', 'G(0.5)U', 'G(1.5)O',
       'G(1.5)U', 'G(2.5)O', 'G(2.5)U', 'G(3.5)O', 'G(3.5)U', 'G(4.5)O',
       'G(4.5)U','HTR', 'FTR']
np.savetxt('np.csv',a,delimiter=',',header="model_cols1")
'''


model_colsh=['HOMECODE', 'AWAYCODE', '1',
       '2', 'X', 'HT1', 'HT2', 'HTX', 'FS (0:0)', 'FS(0:0)2', 'FS(0:0)X',
       'G(0.5)O', 'G(0.5)U', 'G(1.5)O', 'G(1.5)U', 'G(2.5)O', 'G(2.5)U',
       'G(3.5)O', 'G(3.5)U', 'G(4.5)O', 'G(4.5)U','HT_Results_1_0_2']

model_cols=['HOMECODE', 'AWAYCODE', '1',
       '2', 'X', 'HT1', 'HT2', 'HTX', 'FS (0:0)', 'FS(0:0)2', 'FS(0:0)X',
       'G(0.5)O', 'G(0.5)U', 'G(1.5)O', 'G(1.5)U', 'G(2.5)O', 'G(2.5)U',
       'G(3.5)O', 'G(3.5)U', 'G(4.5)O', 'G(4.5)U','Under_Over_2.5']


#model_data=f.loc[:, model_cols].head()
#model_data.values





mod_data=f.reindex(columns=model_cols).fillna(0)
####################################
#t=f.index[-1]+1
t=f.shape[0]
#mod_data
dataR=mod_data.values
dataR

array([[ 8.  ,  2.  ,  3.55, ...,  0.  ,  0.  ,  1.  ],
       [ 4.  , 13.  ,  1.35, ...,  0.  ,  0.  ,  1.  ],
       [14.  , 15.  ,  2.15, ...,  0.  ,  0.  ,  1.  ],
       ...,
       [ 7.  , 15.  ,  1.4 , ...,  0.  ,  0.  ,  0.  ],
       [16.  ,  2.  ,  6.5 , ...,  0.  ,  0.  ,  0.  ],
       [ 5.  ,  6.  ,  1.95, ...,  0.  ,  0.  ,  0.  ]])

In [31]:
from keras import backend as K
from __future__ import division, print_function 
from keras.callbacks import ModelCheckpoint 
from keras.models import Sequential
from keras.layers.convolutional import Conv2D
#from keras.layers.convolutional import MaxPooling2D,AveragePooling2D
from keras.layers.pooling import AveragePooling2D,GlobalAveragePooling2D,MaxPooling2D,GlobalMaxPooling2D
from keras.layers.core import Activation
from keras.layers.core import Flatten
from keras.layers.core import Dense, Dropout 
#from keras_contrib
#from keras_contrib.layers.core import CosineDense
from keras.layers.advanced_activations import LeakyReLU
from keras.datasets import mnist
from keras.utils import np_utils
from keras.optimizers import SGD, RMSprop, Adam
from keras.layers import LSTM
from keras.layers.normalization import BatchNormalization
import numpy as np
import pylab as plt
import numpy as np
import matplotlib.pyplot as plt
import os 

from keras.initializers import TruncatedNormal

In [73]:
#define the ConvNet

class LeNet:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(10, kernel_size=2, padding="same",input_shape=input_shape))
        model.add(Activation("relu"))
        model.add(MaxPooling2D(pool_size=(1, 2), strides=(2, 2)))
# CONV => RELU => POOL
        # CONV => RELU => POOl
        model.add(Conv2D(20, kernel_size=2, border_mode="same"))
        model.add(Activation("relu"))
        model.add(MaxPooling2D(pool_size=(1, 2), strides=(2, 2)))
    
         # Flatten => RELU layers
        model.add(Flatten())
        #model.add(Dense(50))
        #model.add(Activation("relu"))
        #model.add(Dropout(0.1))
        model.add(Dense(110))
        model.add(Activation("relu"))
        # a softmax classifier
        model.add(Dense(classes))
        model.add(Activation("softmax"))
        return model
    
class gNet7:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(16, kernel_size=1, padding="same",input_shape=input_shape))
        model.add(Activation('relu'))
        model.add(Conv2D(16, (1, 2), padding='same'))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 1)))
        model.add(Dropout(0.25))
        model.add(Conv2D(32, (1, 2), padding='same'))
        model.add(Activation('relu'))
        model.add(Conv2D(32, 1, 2))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 2)))
        model.add(Dropout(0.25))
        model.add(Flatten())
        model.add(Dense(231))
        model.add(Activation('relu'))
        model.add(Dropout(0.5))
       # a softmax classifier
        model.add(Dense(1))
        model.add(Activation("softmax"))
        return model
    

    
class gNet:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(82, kernel_size=1, padding="same",input_shape=input_shape))
        model.add(Activation('relu'))
        #model.add(Conv2D(32, (1, 2), padding='same'))
       # model.add(Activation('relu'))
       # model.add(MaxPooling2D(pool_size=(1, 2)))
       # model.add(Dropout(0.25))
        model.add(Conv2D(64, (1, 2), padding='same'))
        model.add(Activation('relu'))
       # model.add(Conv2D(64, 1, 2))
       # model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 2)))
        model.add(Dropout(0.15))
        model.add(Flatten())
        model.add(Dense(112))
        model.add(Activation('relu'))
        #model.add(Dropout(0.5))
       # a softmax classifier
        model.add(Dense(classes))
        model.add(Activation("sigmoid"))
        return model
    


    
    
    
    
    
    
    
    
   #kernel_initializer
#Initializer for the kernel weights matrix.
#bias_initializer 
    #conv+conv+maxpool+dropout+conv+conv+maxpool
class gNet1:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(8, kernel_size=1, padding="same",input_shape=input_shape))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 1)))
        model.add(Dropout(0.10))
        model.add(Conv2D(16, 1, 2))
        model.add(Activation('relu'))
        #model.add(MaxPooling2D(pool_size=(1, 2)))
       # seq.add(BatchNormalization())
        model.add(Dropout(0.15))
        model.add(Flatten())
        model.add(Dense(100))
        model.add(Activation('relu'))
        model.add(Dropout(0.2))
        model.add(Dense(250))
        model.add(Activation('relu'))
        model.add(Dropout(0.2))
        model.add(Dense(classes))
        model.add(Activation("softmax"))
        return model
    
    
    
    
    
    
    
    
    
    
    


    #conv+conv+maxpool+dropout+conv+conv+maxpool
class gNet2:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(16, kernel_size=1, padding="same",input_shape=input_shape))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 2)))
        model.add(Dropout(0.15))
        model.add(Conv2D(32, 1, 2))
        model.add(Activation('relu'))
        #model.add(MaxPooling2D(pool_size=(1, 2)))
        model.add(Dropout(0.15))
        model.add(Flatten())
        model.add(LSTM(1,70))
        model.add(Dropout(0.1))
        model.add(Dense(250))
        model.add(Activation('relu'))
        model.add(Dropout(0.1))
        model.add(Dense(classes))
        model.add(Activation("linear"))
        return model
class gNetD:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(8, kernel_size=1, padding="same",input_shape=input_shape,
                         kernel_initializer = TruncatedNormal(mean = 0, stddev = 0.05, seed = None)))
        
                  
        model.add(Activation('relu'))
    
        model.add(Conv2D(16, (1, 2), padding='same',
                  kernel_initializer = TruncatedNormal(mean = 0, stddev = 0.05, seed = None)))
        
                  
        model.add(Activation('relu'))
       # model.add(MaxPooling2D(pool_size=(1, 2)))        
        #model.add(Dropout(0.15))
                  
        model.add(Flatten())
        #model.add(Dense(96))
        #model.add(Activation('relu'))
        #model.add(Dropout(0.15))
                  
       # model.add(Dense(80))
       # model.add(Activation('relu'))
        model.add(Dropout(0.5))
                  
        model.add(Dense(200))
        model.add(Activation('relu'))
        model.add(Dropout(0.5))
       # a softmax classifier
        model.add(Dense(classes))
        model.add(Activation("softmax"))
        return model

In [74]:

def vfl_data(t,p):
    n=int(((100-p)/100)*t)
    print('Train Data:',t-(t-n),'Test Data:',t-n)
    dataTr=dataR[:n]
    dataTe=dataR[n:]
    
    x_train=dataTr[:,0:21]
    x2_train=x_train.reshape(n,7,3)
    x_train = x2_train[:, np.newaxis, :,:]
    y_train= dataTr[:,21]


    x1_test=dataTe[:,0:21]
    x2_test=x1_test.reshape(t-n,7,3)
    x_test = x2_test[:, np.newaxis, :,:]
    y_test= dataTe[:,21]
    return (x_train, y_train), (x_test, y_test)
(x_train, y_train), (x_test, y_test)=vfl_data(t,10)

Train Data: 2786 Test Data: 310

In [75]:
# network and training
#NB_EPOCH =1
MODEL_DIR = "/tmp" 
BATCH_SIZE = 20
VERBOSE = 1
OPTIMIZER = Adam()
VALIDATION_SPLIT=0.15
ROWS,COLS = 7, 3 # input image dimensions
NB_CLASSES = 1 # number of outputs = number of digits
INPUT_SHAPE = (1, ROWS, COLS)

(x_train, y_train), (x_test, y_test)=vfl_data(t,10)

# consider them as float and normalize
X_train= (x_train.astype('float32'))/15
X_test= (x_test.astype('float32'))/15

print(X_train.shape[0], 'train samples')
print(X_test.shape[0], 'test samples')

#y_train = np_utils.to_categorical(y_train, NB_CLASSES)
#y_test = np_utils.to_categorical(y_test, NB_CLASSES)
y_train = y_train
y_test = y_test

Train Data: 2786 Test Data: 310
2786 train samples
310 test samples

In [76]:
#print(X_train[0:9])
#y_train[:3]

In [77]:
from time import sleep
# initialize the optimizer and modeL
count = 0
NB_EPOCH = 3
INITIAL_EPOCH = 0

#for step in range(1):

model = gNet.build(input_shape=INPUT_SHAPE, classes=NB_CLASSES)

model.compile(loss="binary_crossentropy", optimizer=OPTIMIZER,metrics=["accuracy"])


# save best model 
checkpoint = ModelCheckpoint( filepath=os.path.join(MODEL_DIR, "model-{epoch:02d}.h5"),save_best_only=True) 

history = model.fit(X_train, y_train,batch_size=BATCH_SIZE, epochs=NB_EPOCH,initial_epoch = INITIAL_EPOCH,verbose=VERBOSE,validation_split=VALIDATION_SPLIT,callbacks=[checkpoint])
score = model.evaluate(X_test, y_test, verbose=VERBOSE)
sleep(2)
print("Test score:", score[0])
print('Test accuracy:', score[1])
print('Test accuracy percentage:', round(score[1]*100,3),'%')
#model.save('g8FT_model.h5')
   
  
    
    
   # sleep(30)
   # INITIAL_EPOCH = NB_EPOCH 
    #print('Resuming from Epoch:',INITIAL_EPOCH)
   # count=count+1
   # NB_EPOCH = INITIAL_EPOCH+1
  # print(' and PAUSE for 1 minute at:',NB_EPOCH)

INFO (theano.gof.compilelock): Refreshing lock /home/gsociety/.theano/compiledir_Linux-4.15--generic-x86_64-with-debian-buster-sid-x86_64-3.6.5-64/lock_dir/lock

Train on 2368 samples, validate on 418 samples
Epoch 1/3
2368/2368 [==============================] - 1s 290us/step - loss: 0.6939 - acc: 0.5084 - val_loss: 0.6951 - val_acc: 0.4689
Epoch 2/3
2368/2368 [==============================] - 1s 346us/step - loss: 0.6929 - acc: 0.5148 - val_loss: 0.6897 - val_acc: 0.5335
Epoch 3/3
2368/2368 [==============================] - 1s 311us/step - loss: 0.6919 - acc: 0.5139 - val_loss: 0.6947 - val_acc: 0.4833
310/310 [==============================] - 0s 75us/step
Test score: 0.6960047471907831
Test accuracy: 0.5129032238837211
Test accuracy percentage: 51.29 %

In [72]:
#model.save('ggHT44_337model.h5')

In [51]:
#model.save('gg45_723HT_model.h5')

In [ ]:
# list all data in history
print(history.history.keys())
# summarize history for accuracy
plt.plot(history.history['acc'])
plt.plot(history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
# summarize history for loss
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
#DENSE

In [ ]:
from keras.models import load_model
import numpy as np
#model = load_model('g1_model.h5')
model = load_model('ggHT44_337model.h5') ##Keep this MODEL_Magic begins begin=55 end=45

In [ ]:

begin=240
end= 230
(x_train, y_train), (x_test, y_test)=vfl_data(t,10)

# consider them as float and normalize
X_train= (x_train.astype('float32'))/25
X_test= (x_test.astype('float32'))/25

print(X_train.shape[0], 'train samples')
print(X_test.shape[0], 'test samples')

In [ ]:
y_test[-begin:-end]

In [ ]:
y_trainp = np_utils.to_categorical(y_train, NB_CLASSES)
y_testp = np_utils.to_categorical(y_test, NB_CLASSES)

In [ ]:
p=X_test[-begin:-end]
p.shape

In [ ]:
p_propability = model.predict(p)
p_class=model.predict_classes(p)
dT=f[-begin:-end][['TC','X','1','2','FTR','HTX','HT1', 'HT2','HTR',]].values
dT

In [ ]:

#print('    Properbility to win  predictions  ')
print('    DRAW X       HOME 1      AWAY 2    Actual results   Prediction ' )
pr=p_propability

Aarr=y_test[-begin:-end].astype('int').reshape(p.shape[0],1)
Parr=p_class.reshape(p.shape[0],1)
rsp=np.hstack((Aarr, Parr))
tot= np.column_stack((pr, rsp))
print(tot,'\n')
#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
w=0
l=0
for i ,e in tot[:,3:]:
    if i==e:
       # print('WIN!')
        w=w+1
    else:
        #print('LOSE!')
        l=l+1
   # tot[:,4:][i] = i
print('lost:',l)
print('win:',w)
print('%WIN',(w/p.shape[0])*100 ,'%')
#lllllllllllllllllllllllll

In [ ]:
print('    DRAW X       HOME 1      AWAY 2    Actual results   Prediction ' )
print(tot,'\n')
print('Value')
dTn = np.column_stack((dT[:,3:4],dT[:,1:3]))

odd_V1 = (((((pr * dTn)-1)/(dTn -1))/100)*10000)
#odd_V = ((((pr * dTn)/(dTn))/100)*10000)

print(odd_V1)
###print('NORMALIZED')
minar=[] 
for a ,x ,b in odd_V1:
    entr= minar.append(abs(min(a,x,b)))
    #print( abs(min(a,x,b)))   
minar  = np.array(minar)
minar= np.column_stack((minar,minar,minar))
nVALUE=odd_V1 +minar

###print(nVALUE)

print('                     X   1    2  HTX  HT1  HT2')
print(dT)

In [ ]:
#modelHT = load_model('gHT_model.h5')

In [ ]:
from Keras.models import Sequential